@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Entity Framework CRUD</h1>
    <p>CRUD realizado por Gabriel Delgado, utlizando Entity Framework no modo 
    In-Memory, que permite as ações de GET, POST, PUT e DELETE para gerenciar um registro de clientes e endereço. </p>
</div>
